<%= form_for(@meeseek) do |f| %>
  <% if @meeseek.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeseek.errors.count, "error") %> prohibited this meeseek from being saved:</h2>

      <ul>
      <% @meeseek.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :placeholder => "i.e. Jane" %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, :placeholder => "i.e. 10 E 21st Street, New York, NY 10010" %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude, :placeholder => "i.e. 40.7398848" %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude, :placeholder => "i.e. -73.9900818" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
