<p id="notice"><%= notice %></p>

<div class="meeseek-finder">
  <h3>Where are the Meeseeks?</h3>
  <%= form_tag meeseeks_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search], :id => 'geo-input' %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
  <% end %>

  <div id="map"></div>

  <h3>Nearby Meeseeks</h3>
  <% @meeseeks.each do |meeseek| %>
  <p>
    <div class="each-meeseek">
      <strong><%= meeseek.name %></strong><br>
      <%= meeseek.address %><br>
    </div>
  </p>
  <% end %>
</div>

<h1>List of Meeseeks</h1>

<%= link_to 'New Meeseek', new_meeseek_path %>

<br><br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meeseeks.each do |meeseek| %>
      <tr>
        <td><%= meeseek.name %></td>
        <td><%= meeseek.address %></td>
        <td><%= link_to 'View', meeseek %></td>
        <td><%= link_to 'Edit', edit_meeseek_path(meeseek) %></td>
        <td><%= link_to 'Delete', meeseek, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<footer>
&copy; 2016 <a href="http://sharonchang.me">Sharon Chang</a>
</footer>
